[submodule "third-party/SQLiteCpp"]
	path = third-party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/nlohmann_json"]
	path = third-party/nlohmann_json
	url = https://github.com/nlohmann/json.git
